<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<body>
<main layout:fragment="content" class="container my-4">
  <h2 id="form-title">Login Form</h2>
  <!-- Global error container -->
  <div th:if="${param.error}">
    <div class="alert danger">
     Invalid Email or password
    </div>
  </div>


  <div th:if="${param.logout}">
    <div class="alert alert-info">
      You have successfully logout
    </div>
  </div>


  <form
          class="mt-4"
          method="POST"
          th:action="@{/login}"

  >





    <div class="mb-3">
      <label for="username" class="form-label">Email</label>
      <input
              type="text"

              id="username"
              name="username"
              placeholder="Enter email"
              class="form-control"
              >

<!--      <p th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></p>-->


      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
                type="password"

                id="password"
                name="password"
                placeholder="Enter password"
                class="form-control"
                required>

<!--        <p th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}"></p>-->

    </div>



    <div class="d-flex gap-2">
      <button type="submit" class="btn btn-success">Login</button>
      <a th:href="@{/register}" class="btn btn-outline-secondary">Register</a>
    </div>
  </form>
</main>

<!-- JS Module -->
<script type="module" th:src="@{/js/students/student-form.js}"></script>
</body>
</html>
